{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning border-bottom" >Services</h1>
    <div class="row text-white text-center">
        <div class="col-4">
            <h3>Web Design</h3>
        </div>
        <div class="col-4">
            <h3>Web Design</h3>
        </div>
        <div class="col-4">
            <h3>Web Design</h3>
        </div>
        <div class="col-4">
            <h3>Web Design</h3>
        </div>
        
    </div>
</div>
{% endblock content %}