{% load static %}
{% block corecss %}
    <style>
        a.nav-link{
            color: aquamarine;
        }
        a.nav-link:hover{
            color: black;
            background-color: rgb(255, 166, 0);
        }
    </style>
{% endblock corecss %}
{% block content %}
<div class="border-end border-warning" style="height: 100vh;">
    <div class="text-center">
        <img src="{% static 'core/images/talal.jpg' %}" alt="Profile" class="img-fluid rounded-circle mt-5" height="100px" width="100px">
        <h4 style="font-family: 'Satisfy', cursive;" class="text-white mt-3">Talal Mahmud</h4>
    </div>
    <hr class="border-light" >
    <nav class="nav flex-column text-center">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="{% url 'services' %}" class="nav-link">Services</a>
        <a href="{% url 'skills' %}" class="nav-link">Skills</a>
        <a href="{% url 'contact' %}" class="nav-link">Contact</a>
    </nav>
</div>
{% endblock content %}